{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
{% block layout_main_navigation %}
    <div class="main-navigation"
         id="mainNavigation"
         data-flyout-menu="true">
        {% block layout_main_navigation_navbar %}
            <div class="container">
                {% block layout_main_navigation_menu %}
                    <nav class="nav main-navigation-menu main"
                        itemscope="itemscope"
                        itemtype="http://schema.org/SiteNavigationElement">
                        {% set homeLabel = context.salesChannel.translated.homeName|default("general.homeLink"|trans) %}
                        {% set displayHomeButton = theme_config('display-home-button') %}


                        {% block layout_main_navigation_menu_home %}
                            {% if context.salesChannel.translated.homeEnabled && displayHomeButton %}
                                <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                                    href="{{ path('frontend.home.page') }}"
                                    itemprop="url"
                                    title="{{ homeLabel|striptags }}">
                                    <div class="main-navigation-link-text">
                                        <span itemprop="name">{{ homeLabel|sw_sanitize }}</span>
                                    </div>
                                </a>
                            {% endif %}
                        {% endblock %}

                        {% block layout_main_navigation_menu_items %}
                            {% set activePath = page.header.navigation.active.path %}
                            {% set activePathIdSplit = page.header.navigation.active.path|split('|') %}
                            {% set activePathId = page.header.navigation.active.id %}

                            {% for treeItem in page.header.navigation.tree %}
                            
                                {% set category = treeItem.category %}
                                {% set name = category.translated.name %}

                                {% block layout_main_navigation_menu_item %}
                                    {% if category.type == 'folder' %}
                                        <div class="nav-link main-navigation-link"
                                            {% if treeItem.children|length > 0 %}
                                                data-flyout-menu-trigger="{{ category.id }}"
                                            {% endif %}
                                              title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                                <span itemprop="name">{{ name }}</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
                                           href="{{ category_url(category) }}"
                                           itemprop="url"
                                           {% if treeItem.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                                           {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                           title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                                <span itemprop="name">{{ name }}</span>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endblock %}
                            {% endfor %}
                            </nav>
                            <nav class="nav main-navigation-menu sub"
                            itemscope="itemscope"
                            itemtype="http://schema.org/SiteNavigationElement">
                            {% for treeItem in page.header.navigation.tree %}
                            
                                {% set category = treeItem.category %}
                                {% set name = category.translated.name %}

                                    {% if category.id == activePathIdSplit[2] %}
                                            {% for children in treeItem.children %}
                                                {% set category = children.category %}
                                                {% set name = category.translated.name %}
                                                {% if category.type == 'folder' %}
                                                    <div class="nav-link main-navigation-link"
                                                    {% if children.children|length > 0 %}
                                                        data-flyout-menu-trigger="{{ category.id }}"
                                                    {% endif %}
                                                    title="{{ name }}">
                                                    <div class="main-navigation-link-text">
                                                        <span itemprop="name">{{ name }}</span>
                                                    </div>
                                                </div>
                                                {% else %}
                                                    <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
                                                    href="{{ category_url(category) }}"
                                                    itemprop="url"
                                                    {% if children.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                                                {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                title="{{ name }}">
                                                <div class="main-navigation-link-text">
                                                <span itemprop="name">{{ name }}</span>
                                                </div>
                                                </a>
                                                {% endif %}
                                            {% endfor %}
                                    {% elseif category.id == activePathId %}
                                        {% for children in treeItem.children %}
                                            {% set category = children.category %}
                                            {% set name = category.translated.name %}
                                            {% if category.type == 'folder' %}
                                            <div class="nav-link main-navigation-link"
                                            {% if children.children|length > 0 %}
                                            data-flyout-menu-trigger="{{ category.id }}"
                                            {% endif %}
                                            title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                            </div>
                                            </div>
                                            {% else %}
                                            <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
                                            href="{{ category_url(category) }}"
                                            itemprop="url"
                                            {% if children.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                                            {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                            title="{{ name }}">
                                            <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                            </div>
                                            </a>
                                            {% endif %}
                                        {% endfor %}                                                                       
                                    {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </nav>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_main_navigation_menu_flyout_wrapper %}
            {% set navigationChildrenCount = 0 %}
            {% for treeItem in page.header.navigation.tree %}
                {% if treeItem.category.childCount >= 0 %}
                    {% set navigationChildrenCount = navigationChildrenCount + 1 %}
                {% endif %}
            {% endfor %}

            {% if navigationChildrenCount > 0 %}
                {% block layout_main_navigation_menu_flyout_container %}
                    <div class="navigation-flyouts">
                        {% block layout_main_navigation_menu_flyouts %}
                            {% for treeItem in page.header.navigation.tree %}
                                {% for children in treeItem.children %}
                                    {% if (category.id == activePathIdSplit[2] or category.id == activePathId) %}
                                        {% if children.children|length > 0 %}
                                            {% block layout_main_navigation_menu_flyout %}
                                                <div class="navigation-flyout"
                                                    data-flyout-menu-id="{{ children.category.id }}">
                                                    <div class="container">
                                                        {% block layout_main_navigation_menu_flyout_include %}
                                                            {% sw_include '@Storefront/storefront/layout/navigation/flyout.html.twig' with {navigationTree: children, level: level+1, page: page} only %}
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            {% endblock %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
