{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}
{% block layout_header_logo_inner %}
{% set activePathIdSplit = page.header.navigation.active.path|split('|') %}
{% set activeNavigationId = page.product.seoCategory.id %}

    <div class="header-logo-main">
        {% block layout_header_logo_link %}
            <a class="header-logo-main-link"
            {% if activePathIdSplit[3] is defined %}
                href="{{ seoUrl('frontend.navigation.page', {'navigationId': activePathIdSplit[2]}) }}"
            {% elseif activePathIdSplit[2] is defined && page.product %}
                href="{{ seoUrl('frontend.navigation.page', {'navigationId': activeNavigationId}) }}"
            {% else %}
                href="{{ path('frontend.home.page') }}"
            {% endif %}

               title="{{ "header.logoLink"|trans|striptags }}">
                {% block layout_header_logo_image %}
                    {{ parent() }}
                {% endblock %}
            </a>
        {% endblock %}
    </div>
{% endblock %}
